.linkStyle {
    padding-right: 10px;
    text-decoration: none;
    color: rgb(18, 17, 17);
    
}

.CartPosition {
    margin-right: 20px;
}


@media (max-width: 1080px) { 
    .CartPosition {
        margin-left: 1em;
    }
} 